.table {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    font-size: 30px;
    text-align: center;
    background-color: LightGoldenRodYellow;
    border-collapse: collapse;
    border: LightGoldenRodYellow;
    padding: 12px 17px;

}

.table p {
    font-size: 14px;
    font-weight: lighter;
}

.table tr:nth-child(odd) {
    background: LightGoldenRodYellow;
    font-size: 14px;
    font-weight: lighter;
}

.table tr:nth-child(even) {
    background: ivory;
    font-size: 14px;
    font-weight: lighter;
}

.table th {
    background: LightGoldenRodYellow;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 17px;
}

.table td {
    padding: 12px 17px;
    font-size: 14px;
    font-weight: lighter;
}

.cameo {
    font-family: 'Poppins', sans-serif;
    background: ivory;
    font-size: 14px;
    font-weight: lighter;
    padding: 12px 17px;
}

.text {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: lighter;
    padding: 12px 17px;
}
